<!-- app/templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI-Powered Content Generator and Analyzer</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            /* padding-top: 56px; */
        }
        .container {
            max-width: 800px;
        }
        .form-section {
            margin-bottom: 40px;
            padding: 20px;
            border: 1px solid #605e5eaf;
            border-radius: 8px;
            background-color: #eeeeee;
        }
        .nav-head{
            background-color: #ddddddcd;
            padding: 5px;
        }

        .result-section {
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 8px;
            background-color: #f1f1f1;
        }
    </style>
</head>
<body>    
    <div class="nav-head">
        <nav class="container navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
            <a class="navbar-brand" href="#" style="color: black; font-weight: 900;">AI Content & Analysis</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" style="background-color: rgb(57, 22, 22);"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-4">
                <a class="nav-link active" aria-current="page" style="color: rgb(3, 3, 127);" href="#content-section">Generate Content</a>
                <a class="nav-link" href="#analysis-section" style="color: rgb(3, 3, 127);"> Analyze Content</a>
                <a class="nav-link" href="#keyword-section" style="color: rgb(3, 3, 127);">Keyword Content</a>
                <a class="nav-link" href="#result-section" style="color: rgb(3, 3, 127);">Results</a>
            </div>
            </div>
        </div>
        </nav>

    </div>

    <div class="container mt-5">
        <h1 class="mb-4 text-center">AI-Powered Content, Analyzer and Keywords Generator</h1>
        <div id="content-section" class="form-section">
            <h2>Generate Content</h2>
            <form id="content-form">
                <div class="form-group">
                    <label for="topic">Enter Topic, no need for prompts.</label>
                    <input type="text" class="form-control" id="topic" required>
                </div>
                <button type="submit" class="btn btn-tertiary" style="background-color: black; color: white;">Generate Content</button>
            </form>
        </div>

        <div id="analysis-section" class="form-section">
            <h2>Analyze Content</h2>
            <form id="analyze-form">
                <div class="form-group">
                    <label for="content">Enter Content for Analysis</label>
                    <textarea class="form-control" id="analyze-content" rows="4" required></textarea>
                </div>
                <button type="submit" class="btn btn-tertiary" style="background-color: black; color: white;">Analyze Content</button>
                <button type="button" class="btn btn-secondary" id="import-content-analyze">Import Generated Content</button>
            </form>
        </div>

        <div id="keyword-section" class="form-section">
            <h2>Keywords content</h2>
            <form id="keyword-form">
                <div class="form-group">
                    <label for="content">Enter Content</label>
                    <textarea class="form-control" id="keywords-content" rows="4" required></textarea>
                </div>
                <button type="submit" class="btn btn-tertiary" style="background-color: black; color: white;">Generate Keywords</button>
                <button type="button" class="btn btn-secondary" id="import-content-keywords">Import Generated Content</button>
            </form>
        </div>

        <div id="result-section" class="result-section">
            <h2>Results</h2>
            <div class="mb-4">
                <h3>Generated Content</h3>
                <p id="generated-content"></p>
            </div>
            <div class="mb-4">
                <h3>Generated Keywords</h3>
                <p id="generated-keywords"></p>
            </div>
            <div>
                <h3>Analysis Results</h3>
                <ul>
                    <li>Readability: <span id="readability"></span></li>
                    <li>Sentiment: <span id="sentiment"></span></li>
                </ul>
            </div>
        </div>
    </div>
    <script>
        // Content
        document.getElementById('content-form').addEventListener('submit', async (e) => {
            e.preventDefault();
            const topic = document.getElementById('topic').value;
            const payload = { topic: topic };
            const response = await fetch('/generate/', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(payload)
            });
            const data = await response.json();
            document.getElementById('generated-content').innerText = data.generated_text;
        });

        // sentiment analysis
        document.getElementById('analyze-form').addEventListener('submit', async (e) => {
            e.preventDefault();
            const content = document.getElementById('content').value;
            const payload = { content: content };

            const response = await fetch('/analyze/', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(payload)
            });
            const data = await response.json();
            document.getElementById('readability').innerText = data.readability;
            document.getElementById('sentiment').innerText = data.sentiment;
        });

        // keywords 
        document.getElementById('keyword-form').addEventListener('submit', async (e) => {
            e.preventDefault();
            const content = document.getElementById('keywords-content').value;
            const payload = { content: content };

            const response = await fetch('/keywords/', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(payload)
            });
            const data = await response.json();
            document.getElementById('generated-keywords').innerText = data.keywords;
        });

        // parse content 
        document.getElementById('import-content-analyze').addEventListener('click', () => {
            const generatedContent = document.getElementById('generated-content').innerText;
            document.getElementById('analyze-content').value = generatedContent;
        });
        
        document.getElementById('import-content-keywords').addEventListener('click', () => {
            const generatedContent = document.getElementById('generated-content').innerText;
            document.getElementById('keywords-content').value = generatedContent;
        });

    </script>
</body>
</html>
